$primaryColor : #0abde3;
$secondaryColor : #222f3e;
$successColor : #1dd1a1;
$warningColor : #feca57;
$dangerColor : #ff6b6b;

$primaryColorH : #0dd3ff;
$secondaryColorH : #364a62;
$successColorH : #24fdc3;
$warningColorH : #f9d380;
$dangerColorH : #ed9797;

$textColor : white;
$textColorH : #000000;