$primaryColor : #0984e3;
$secondaryColor : #000000;
$successColor : #55efc4;
$warningColor : #fdcb6e;
$dangerColor : #d63031;

$primaryColorH : #0dd3ff;
$secondaryColorH : #364a62;
$successColorH : #24fdc3;
$warningColorH : #f9d380;
$dangerColorH : #ff6b6b;

$textColor : white;
$textColorH : #000000;