.navbar {
    position: fixed;
    top : 0;
    left : 0;
    right: 0;
    padding: 1em;
    background: #2d3436;
    display: flex;
    justify-content: space-between;
}

.navbarInfo {
    display: flex;
}

.logoutBTN {
    font-size: 1.2em;
    color : #dfe6e9;
    background: none;
    border : none;
    transition-duration: 200ms;
}

.logoutBTN:hover {
    color : #d63031;
    transition-duration: 200ms;
}