.navbar {
    position: fixed;
    top : 0;
    left : 0;
    right: 0;
    height: 50px;
    background: #2d3436;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbarInfo {
    display: flex;
}

.logoutBTN {
    font-size: 1.2em;
    color : #dfe6e9;
    background: none;
    border : none;
    transition-duration: 200ms;
}

.logoutBTN:hover {
    color : #d63031;
    transition-duration: 200ms;
}

.menuButton {
    padding: 5px;
    display :  flex;
    flex-direction : column;
    justify-content : space-between;
    width: 50px;
    height : 45px;
}
.menuButton div {
    padding: 3px 11px;
    background-color : white;
    border-radius : 1em;
    transition-duration: 200ms;
}

.open .top{
    transform: translate(0, 14px) rotate(45deg);
    transition-duration: 200ms;
}
.open .down{
    transform: translate(0, -14px) rotate(-45deg);
    transition-duration: 200ms;
}
.open .mid {
    opacity: 0;
    transform: translate(-20px, 0);
}

.dropDown {
    transition-duration: 200ms;
    width: 100%;
    background: #2d3436;
}

.linkContainer {
    margin-left: 20px;
    padding: 5px;
}