@mixin ring($radius : 0%, $delay : 0ms){
    position: absolute;
    left : -23px;
    top : -22.5px;
    width: 140px;
    height: 140px;
    background: none;
    border : 1px solid;
    border-radius:$radius;
    animation: borderChange 3s ease infinite;
    animation-delay : $delay;
}

.krm_logo {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 40px;
}

.krm_logo div {
    position: absolute;
}

.main {
    position: relative;
    top : 23px;
    left: 23px;
}

.ring {
    @include ring(50%)
}

.ring2 {
    @include ring(0)
}

.ring3 {
    @include ring(0,200ms)
}
.ring5 {
    @include ring(0,400ms)
}


.trap {
	animation: bgChange 5s ease infinite;
}

.kr1 {
    top: 10px;
    left: 10px;
}
.kr1 div {
    width: 10px;
    height: 40px;
    transform: perspective(0px) rotateY(2deg);
}

.kr2 {
    top: 52px;
    left: 13px;
    transform: rotate(-135deg)
}
.kr2 div{
    width: 10px;
    height: 50px;
    transform: perspective(0px) rotateY(2.5deg);
}

.kr3 {
    top: 50.5px;
    left: 15px;
}
.kr3 div{
    width: 10px;
    height: 40px;
    transform: perspective(0px) rotateY(-3deg);
}

.kr4 {
    top: 47px;
    left: 30px;
    transform: rotate(45deg)
}
.kr4 div{
    width: 30px;
    height: 10px;
	transform: skew(45deg);
}

.kr5 {
    top: 23px;
    left: 44px;
}
.kr5 div{
    width: 45px;
    height: 10px;
	transform: skew(-45deg);
}

.kr6 {
    top: 45px;
    left: 58px;
    transform: rotate(-45deg)
}
.kr6 div{
    width: 27px;
    height: 10px;
}

.kr7 {
    top: 46.5px;
    left: 50px;
}
.kr7 div{
    width: 10px;
    height: 39px;
	transform: skewY(45deg);
}

.kr8 {
    top: 58px;
    left: 50px;
    transform: rotate(-45deg)
}
.kr8 div{
    width: 10px;
    height: 39px;
    transform: perspective(0px) rotateY(-3deg);
}

@keyframes bgChange {
    0% {
        background:  #23d5ab;
    }
    25% {
        background : #ee7752;
    }
    50% {
        background: #e73c7e;
    }
    75% {
        background: #23a6d5;
    }
    100% {
        background:  #23d5ab;
    }
}

@keyframes borderChange {
    0% {
        border-color:  #23d5ab;
        transform: rotate(-135deg)
    }
    25% {
        border-color:  #ee7752;
        transform: rotate(150deg)
    }
    50% {
        border-color:  #e73c7e;
        transform: rotate(25deg)
    }
    75% {
        border-color:  #23a6d5;
        transform: rotate(-45deg)
    }
    100% {
        border-color:  23d5ab;
        transform: rotate(-135deg)
    }
}